aluno.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://registro_alunos/aluno.xsd" 
	xmlns:this="http://registro_alunos/aluno.xsd">
	
	<xsd:element name="Aluno" type="this:AlunoType" />
	
	<xsd:complexType name="AlunoType">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:integer"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="phoneNumber" type="xsd:string"/>			
		</xsd:sequence>
	</xsd:complexType>
		
</xsd:schema>